@font-face {
  font-family:'Patua One';
  font-style:normal;
  font-weight:400;
  src:local('Patua One'), local('PatuaOne-Regular'), url("/fonts/patua-one.woff") format('woff');
}

@media print {
  section, article {
    background-color: #fff !important;
  }
}

body {
  font-family: 'Patua One', sans;
  background-color: #fafafa;
}

.bespoke-slide {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;

  aside {
      display: none;
  }
}

.todo:before {
  content: "TODO: "
  color: #f00;
  font-style: italic;
  font-weight: bolder;
}

.title {
  text-align: left;
  font-weight: normal;
  font-family: 'Patua One', serif;
  font-size: 90pt;
  line-height: 100px;
}

h2.full-slide {
  font-size: 90pt;
  font-weight: normal;
  line-height: 98%;
}

h2.fullish-slide {
  @extend h2.full-slide
  font-size: 73pt;
}

h4 {
  padding-top: 15px;
  opacity: 0.6;
}

ul, ol {
  margin: 10px 0;
  text-align: left;
}

address {
  margin-top: 20px;
  float: left;
  text-align: right;
  width: 100%;
  font-style: normal;
  line-height: 150%

  .bio {
    opacity: 0.7;
  }
  
  .author {
    font-size: 120%;
  }

  .author, a {
    font-weight: bolder;
  }

  a {
    color: inherit;
    &:hover {
      font-style: underline;
    }
  }

  .urls {
    padding-top: 26px;
  }

  ul {
    width: 100%;
    position: relative;

    list-style: none;

    li {
      float: left;
      text-align: center;
      width: 33.3%;

      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.logo-big {
  width: 60%;
}

pre {
  padding: 26px 20px !important;
  font-size: 16px;
}          

.sideBySide {
  flex-direction: row;
  width: 100%;

  > div, pre {
    width: 48%;
    margin: 0.5em 0.4em;
    padding: 26px 10px;
    font-size: 52%;
    float: left;
    display: inline-block;
  }
}

.highlight {
  font-weight: bolder;
  color: #c13038;
}

.in-place-transition {
  width: 100%;
  text-align: inherit;

  .bespoke-bullet-inactive {
    opacity: 0;
    display: none;
    li & {
      transform: translateX(0);
    }
  }

  .bespoke-bullet-active {
    opacity: 0;
    display: none;
  }

  .bespoke-bullet-current,
  // Keep the first bullet/last bullet visible, to make transitions smooth
  .bespoke-bullet-active:last-of-type,
  .bespoke-bullet-inactive:first-of-type {
    opacity: 1;
    display: inherit;
  }
}
