doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Intro to Open Source

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/defaults.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1.title Introduction to Open Source
        address.vcard
          div.author.fn Tim Perry
          div.note.bio
            span Tech Lead &amp; Open-Source Champion at 
            span.org.vcard
              a.org.fn.url(href='http://softwire.com',rel="group") Softwire
          ul.urls
            li
              a.url(href='http://tim-perry.co.uk',rel="me") tim-perry.co.uk
            li
              a.nickname.url(href='http://twitter.com/pimterry',rel="me") @pimterry
            li
              a.url(href='http://github.com/pimterry',rel="me") github.com/pimterry

      section
        img(src='images/softwireLogo.png',class='logo-big',alt='Softwire')
        aside
          ul
            li Bespoke software development company
            li in Kentish Town
            li Interesting problems, great atmosphere, huge variety of different tools and projects
            li We're recruiting!
            li Tech lead and open-source champion
            li Tend to split into PM and TL: purely technical
            li Leading technical side of teams: training, architecture, processes, good example
            li Open-Source champion: a charity role, from Softwire's point of view
            li Encouraging and highlighting, supporting people doing it, making sure we follow licenses

      section
        h2.full-slide Open Source Software
        aside
          ul 
            li Firstly, we're notably only talking about software
            li
              | Fundamentally, software where you can freely obtain and use its code, either directly
              | or as part of some other derived work you're building
            li OSI have a formal definition

      section
        h2.full-slide Free Software 
        aside
          ul
            li This is similar to something you'll hear a lot in similar circles: free software
            li Main proponent is a man called Richard Stallman &amp; the FSF
            li More of a philosophical/political issue than a technical one
            li Primary difference is the use of copyleft licenses, rather than permissive
            li Look at these later, but fundamentally they're attempting to preserve freedom in derivative software too
            li Ensuring that software is not only open-source, but will remain free indefinitely

      section
        h3 Free =
        ul.bullets.in-place-transition
          li.sideBySide
            div
              h2 Gratis
            div
              h2 Libre
          li.sideBySide
            div
              h2 Free Beer
            div
              h2 Free Speech
        aside
          ul
            li Use of free might be confusing here
            li English doesn't disambiguate well
            li French and other latin languages explicitly have differentiating words
            li Notably, free software is free as in speech, as in freedom
            li You can do what you like with it, without constraints
            li Not required to be free of cost, but it frequently is anyway
         
      section
        h2.full-slide In Practice
        aside
          ul
            li Most of this is irrelevant day to day
            li Main point: open source means never having to write things yourself
            li Lots of people have written open-source libraries you can use
            li Lots of open-source and free tools that you can use for development and take apart and examine
            li In addition though, you can contribute
         
      section
        h2.full-slide(style='text-align: left')
          | Any questions?
        br

        address.vcard
          div.author.fn Tim Perry
          div.note.bio
            span Tech Lead &amp; Open-Source Champion at 
            span.org.vcard
              a.org.fn.url(href='http://softwire.com',rel="group") Softwire
          ul.urls
            li
              a.url(href='http://tim-perry.co.uk',rel="me") tim-perry.co.uk
            li
              a.nickname.url(href='http://twitter.com/pimterry',rel="me") @pimterry
            li
              a.url(href='http://github.com/pimterry',rel="me") github.com/pimterry

        aside
          ul
            li We're recruiting!
            li Follow me on twitter for slides
            li C# stack: Windows!
            li DOS via a specific IPv6 packet
            li XMLDOM ActiveX control in every windows up to 8.1 is vulnerable to bil laughs
            li Mostly fairly stable otherwise, main attacks tend to be ActiveX component leftovers
            li Java: 35 remotely exploitable vulns fixed this month's Java SE release
            li 4 exploits rated 10/10, but no details, includes many in JAX-WS etc
        

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-convenient/dist/bespoke-convenient.js')
    script(src='bower_components/bespoke-indexfinger/dist/bespoke-indexfinger.js')
    script(src='bower_components/bespoke-secondary/dist/bespoke-secondary.js')
    script(src='scripts/bespoke-bullets.js')
    script(src='bower_components/prism/prism.js')
    script(src='bower_components/prism/components/prism-ruby.js')
    script(src='bower_components/prism/components/prism-php.js')
    script(src='bower_components/prism/components/prism-c.js')
    script(src='bower_components/prism/components/prism-bash.js')
    script(src='scripts/main.js')
    // endbuild
